server:
  port: ${SERVER_PORT:8000}
  forward-headers-strategy: native
  tomcat:
    use-relative-redirects: true

spring:
  output:
    ansi:
      enabled: always

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          batch_size: 20
          order_inserts: true
          order_updates: true
          batch_versioned_data: true

  web:
    cors:
      allowed-origins: ${WEB_CORS_ORIGINS}
      allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
      allowed-headers: "*"
      allow-credentials: true
  messages:
    basename: messages
    encoding: UTF-8

logging:
  level:
    root: info
    mendes:
      dev95: trace
    org:
      springframework:
        web: debug
      hibernate:
        SQL: debug
        type:
          descriptor:
            sql:
              BasicBinder: trace

api:
  security:
    require-https: true
    token:
      secret: ${TOKEN.SECRET} # chave gerada com o comando: "openssl rand -hex 32"
      issuer: ${TOKEN_ISSUER}
